@page
@model projektowanie_oprogramowania_final_project.Pages.Reservations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.Showing" class="control-label"></label>
                <input hidden readonly type="text" asp-for="Reservation.ShowingId" id="ShowingId" class ="form-control" value="@ViewBag.ShowingId"></input>
                <input readonly type="text" class ="form-control" value="@ViewBag.Showing"></input>
            </div>

            <div class="form-group">
                <label asp-for="Reservation.Seats" class="control-label"></label>
                <select multiple="multiple" asp-for="SelectedAnswers" id="Seats" class ="form-control" asp-items="ViewBag.SeatId"></select>
            </div>


            <div class="form-group">
                <label asp-for="Reservation.Price" class="control-label"></label>
                <input readonly asp-for="Reservation.Price" id="Price" class="form-control" />
                <span asp-validation-for="Reservation.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ChosenPayment" class="control-label"></label>
                <select asp-for="Reservation.ChosenPayment" class="custom-select" asp-items="Html.GetEnumSelectList<projektowanie_oprogramowania_final_project.Models.PaymentMethod>()">
                    <option value="Please select"></option>
               </select>
                <span asp-validation-for="Reservation.ChosenPayment" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript">
            $("#Seats").on("change", seatChanged);

            function seatChanged() {
                var t = $("#Seats").val().length;
                    console.log($("#Seats").val())
                var s_id = $("#ShowingId").val();
                    $("#Price").val(0);
                $.get(`/reservations/create?handler=Price&showing_id=${s_id}&tickets=${t}`, function (price) {       
                    $("#Price").val(price);
                });
            }
        </script>

}
