@page
@model projektowanie_oprogramowania_final_project.Pages.Showings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Showing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Showing.CinemaId" class="control-label"></label>
                <select asp-for="Showing.CinemaId" class ="form-control" asp-items="ViewBag.CinemaId"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Showing.ScreeningRoom" class="control-label"></label>
                <select id="roomSelect" asp-for="Showing.ScreeningRoom" class="form-control" asp-items="ViewBag.Rooms"></select>
            </div>
            <div class="form-group">
                <label asp-for="Showing.FilmId" class="control-label"></label>
                <select asp-for="Showing.FilmId" class="form-control" asp-items="ViewBag.FilmId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Showing.Showtime" class="control-label"></label>
                <input asp-for="Showing.Showtime" class="form-control" />
                <span asp-validation-for="Showing.Showtime" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Showing.Language" class="control-label"></label>
                <select asp-for="Showing.Language" class="custom-select" asp-items="Html.GetEnumSelectList<projektowanie_oprogramowania_final_project.Models.LanguageVersion>()">
                    <option value="Please select"></option>
                </select>
                <span asp-validation-for="Showing.Language" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Showing.Technology" class="control-label"></label>
                <select asp-for="Showing.Technology" class="custom-select" asp-items="Html.GetEnumSelectList<projektowanie_oprogramowania_final_project.Models.TechnologyVersion>()">
                    <option value="Please select"></option>
                </select>
                <span asp-validation-for="Showing.Technology" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Showing.Price" class="control-label"></label>
                <input asp-for="Showing.Price" class="form-control" />
                <span asp-validation-for="Showing.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            $("#CinemaId").change(function () {
                $.get("/GetRoom", { id: $("#CinemaId").val() }, function (data) {
                    $("#RoomId").empty();
                    $.each(data, function (index, row) {
                        $("#RoomId").append("<option value='" + row.RoomId + "'>" + row.RoomNumber + "</option>")
                    });
                });
            })
        </script>
}
