@page
@model projektowanie_oprogramowania_final_project.Pages.Films.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Film.FilmId" />
            <div class="form-group">
                <label asp-for="Film.Title" class="control-label"></label>
                <input asp-for="Film.Title" class="form-control" />
                <span asp-validation-for="Film.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.Director" class="control-label"></label>
                <input asp-for="Film.Director" class="form-control" />
                <span asp-validation-for="Film.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.ReleaseDate" class="control-label"></label>
                <input asp-for="Film.ReleaseDate" class="form-control" />
                <span asp-validation-for="Film.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.RunningTime" class="control-label"></label>
                <input asp-for="Film.RunningTime" class="form-control" />
                <span asp-validation-for="Film.RunningTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden asp-for="Film.Image" class="control-label"></label>
                        @if (Model.Film.ImagePath == null)
                        {
                                <img src="/images/no-image.jpg"/>
                        }
                        else
                        {
                                    <img src="/@Model.Film.ImagePath"/>
                        }
        </dd>    
            </div>
            <img src="@Html.DisplayFor(model => model.Film.Image)" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
